<!--START nicdark_site-->
<div class="nicdark_site">

    <!--START nicdark_site_fullwidth-->
    <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">


        <div class="nicdark_section nicdark_position_relative ">

            <div class="nicdark_section nicdark_position_absolute">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix nicdark_position_relative">

                    <div class="grid grid_12 nicdark_display_none_all_responsive">

                        <div class="nicdark_section nicdark_height_10"></div>

                        <!--LOGO-->
                        <a [routerLink]="['/']"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>


                        <div
                            class="nicdark_navigation_2 nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive">
                            <ul>
                                <li>
                                    <a [routerLink]="['/']">HOME</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/account']">MY ACCOUNT</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/rooms']">ROOMS</a>
                                </li>

                            </ul>

                        </div>

                        <div class="nicdark_section nicdark_height_10"></div>

                    </div>





                    <!--RESPONSIVE-->
                    <div
                        class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <!--LOGO-->
                        <a href="index.html"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>

                        <div class="nicdark_section nicdark_height_10"></div>
                    </div>
                    <div
                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <div
                            class="nicdark_float_right nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">


                            <ul style="list-style: none; display: inline; color: #fff;">
                                <li>
                                    <a [routerLink]="['/']" style="color: #fff;">HOME</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/account']" style="color: #fff;">MY ACCOUNT</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/pricing']" style="color: #fff;">PRICING MODEL</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--RESPONSIVE-->






                </div>
                <!--end container-->

            </div>

        </div>






        <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom"
            style="background-image:url(assets/img/parallax/img6.png);">

            <div class="nicdark_section nicdark_bg_greydark_alpha_gradient_2">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix">


                    <div class="nicdark_section nicdark_height_200"></div>


                    <div class="grid grid_12">



                        <strong class="nicdark_color_white nicdark_font_size_40 nicdark_first_font">My
                            Dashboard</strong>


                        <div class="nicdark_section nicdark_height_20"></div>


                    </div>









                </div>
                <!--end container-->

            </div>

        </div>





        <div class="nicdark_section nicdark_bg_grey nicdark_border_bottom_1_solid_grey">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_12">



                    <a [routerLink]="['/']">Home</a>
                    <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                        src="assets/img/icons/icon-next-grey.svg">
                    <a [routerLink]="['/account']">Account</a>
                    <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                        src="assets/img/icons/icon-next-grey.svg">
                    <a [routerLink]="['/account']">{{ fullName }}</a>



                </div>


            </div>
            <!--end container-->

        </div>




        <div class="nicdark_section nicdark_height_50"></div>



        <div class="nicdark_section">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_4">




                    <div class="nicdark_section nicdark_box_sizing_border_box">

                        <!--start preview-->
                        <div class="nicdark_section ">

                            <!--image-->
                            <div class="nicdark_section nicdark_position_relative">

                                <img alt="" class="nicdark_section" src="assets/img/avatar/avatar-chef-0.png">

                                <div
                                    class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                    <div class="nicdark_position_absolute nicdark_bottom_20">
                                        <h2 class="nicdark_color_white" *ngIf="userdata">{{ fullName }}</h2>
                                    </div>

                                </div>

                            </div>
                            <!--image-->


                            <div class="nicdark_section nicdark_box_sizing_border_box">

                                <div class="nicdark_section nicdark_bg_greydark">
                                    <table class="nicdark_section ">
                                        <tbody>

                                            <tr class="">
                                                <td class="nicdark_padding_30">
                                                    <h5
                                                        class="nicdark_font_size_13 nicdark_text_transform_uppercase nicdark_color_grey">
                                                        First Name</h5>
                                                    <div class="nicdark_section nicdark_height_5"></div>
                                                    <p class="nicdark_color_white nicdark_line_height_16"
                                                        *ngIf="userdata">{{ userdata.firstName }}</p>
                                                </td>
                                                <td class="nicdark_padding_30">
                                                    <h5
                                                        class="nicdark_font_size_13 nicdark_text_transform_uppercase nicdark_color_grey">
                                                        Last Name</h5>
                                                    <div class="nicdark_section nicdark_height_5"></div>
                                                    <p class="nicdark_color_white nicdark_line_height_16"
                                                        *ngIf="userdata">{{ userdata.lastName }}</p>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div
                                    class="nicdark_section nicdark_border_1_solid_grey nicdark_padding_20 nicdark_box_sizing_border_box">

                                    <table class="nicdark_section">
                                        <tbody>

                                            <tr class="">
                                                <td class="nicdark_padding_10">

                                                    <div class="nicdark_display_table nicdark_float_left">

                                                        <div
                                                            class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                                            <img alt="" class="nicdark_margin_right_20" width="25"
                                                                src="assets/img/icons/icon-email-grey.svg">
                                                        </div>

                                                        <div
                                                            class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                                            <h5
                                                                class="nicdark_font_size_13 nicdark_text_transform_uppercase">
                                                                <strong>Email</strong></h5>
                                                            <div class="nicdark_section nicdark_height_5"></div>
                                                            <p class="" *ngIf="userdata">{{ userdata.email }}</p>
                                                        </div>

                                                    </div>

                                                </td>
                                            </tr>
                                            <tr class="">
                                                <td class="nicdark_padding_10">

                                                    <div class="nicdark_display_table nicdark_float_left">

                                                        <div
                                                            class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                                            <img alt="" class="nicdark_margin_right_20" width="25"
                                                                src="assets/img/icons/icon-link-grey.svg">
                                                        </div>

                                                        <div
                                                            class="nicdark_display_table_cell nicdark_vertical_align_middle">
                                                            <h5
                                                                class="nicdark_font_size_13 nicdark_text_transform_uppercase">
                                                                <strong>Social</strong></h5>
                                                            <div class="nicdark_section nicdark_height_5"></div>
                                                            <p class="">www.instagram.com/jane_j</p>
                                                        </div>

                                                    </div>

                                                </td>
                                            </tr>
                                            <tr class="">
                                                <td class="nicdark_padding_10">
                                                    <h5 class="nicdark_font_size_13 nicdark_text_transform_uppercase">
                                                        <strong>About Me</strong></h5>
                                                    <div class="nicdark_section nicdark_height_5"></div>
                                                    <p class="nicdark_line_height_25">Hi! My name is Paula and I’m
                                                        passionate about our amazing world – including the world of
                                                        maths. This is why I decided to do a PhD in applied mathematics.
                                                        I’m lucky to be a part of a team of scientists who use their
                                                        knowledge to prevent climate change.<br /><br />When I’m not
                                                        doing my research, I write, cycle, sing and dance (as a member
                                                        of the Musical Theatre Society) and learn languages.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>

                            <div
                                class="nicdark_section nicdark_padding_10 nicdark_box_sizing_border_box nicdark_bg_white ">

                                <div
                                    class="nicdark_width_50_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_text_align_center">
                                    <button class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                    [routerLink]="['/profile']">EDIT PROFILE</button>
                                </div>

                                <div
                                    class="nicdark_width_50_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left nicdark_text_align_center">
                                    <button class="nicdark_display_inline_block nicdark_color_white nicdark_bg_red nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        [routerLink]="['/home/login']">LOGOUT</button>
                                </div>

                            </div>



                        </div>
                        <!--start preview-->

                    </div>

                </div>


                <div class="grid grid_8">

                    <div class="nicdark_section">

                        <div class="nicdark_tabs">
                            <ngb-tabset>
                                <ngb-tab title="Summary">
                                    <ng-template ngbTabContent>
                                        <div
                                            class="nicdark_section nicdark_overflow_hidden nicdark_overflow_x_auto nicdark_cursor_move_responsive">
                                            <table class="nicdark_section">
                                                <tbody>
                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">ROOM BOOKING
                                                            </h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>1 Slot (Silver)</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                        <td class="nicdark_padding_20" rowspan="8" style="width:240px">
                                                            <!--START price-->
                                                            <div class="nicdark_section nicdark_box_sizing_border_box">

                                                                <div class="nicdark_section nicdark_position_relative">

                                                                    <img alt="" class="nicdark_section"
                                                                        src="assets/img/courses/img25.png">

                                                                    <div
                                                                        class="nicdark_bg_greydark_alpha_6  nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_box_sizing_border_box">

                                                                        <div
                                                                            class="nicdark_position_absolute nicdark_bottom_30 nicdark_width_100_percentage nicdark_padding_botttom_0 nicdark_padding_50 nicdark_box_sizing_border_box nicdark_text_align_center">


                                                                            <h6
                                                                                class="nicdark_color_white nicdark_text_transform_uppercase">
                                                                                Hostel Wallet Balance</h6>
                                                                            <h1 class="nicdark_color_white nicdark_text_transform_uppercase"
                                                                                style="margin-left:-5%;margin-top:3%">
                                                                                <strong>{{ hostel_balance | currency : '₦' }}</strong>
                                                                            </h1>

                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>


                                                            <div class="nicdark_section nicdark_border_1_solid_grey">
                                                                <div
                                                                    class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box">

                                                                    <div class="nicdark_section nicdark_height_20">
                                                                    </div>

                                                                    <div
                                                                        class="nicdark_width_100_percentage  nicdark_box_sizing_border_box nicdark_float_left">
                                                                        <button
                                                                            class="nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 "
                                                                            [routerLink]="['/topup']"
                                                                            routerLinkActive="router-link-active">TOP
                                                                            UP</button>
                                                                    </div>


                                                                </div>

                                                            </div>
                                                            <!--END price-->

                                                            <div class="nicdark_section nicdark_height_30"></div>

                                                            <!--START price-->
                                                            <div class="nicdark_section nicdark_box_sizing_border_box">

                                                                <div class="nicdark_section nicdark_position_relative">

                                                                    <img alt="" class="nicdark_section"
                                                                        src="assets/img/courses/img25.png">

                                                                    <div
                                                                        class="nicdark_bg_greydark_alpha_6  nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_box_sizing_border_box">

                                                                        <div
                                                                            class="nicdark_position_absolute nicdark_bottom_30 nicdark_width_100_percentage nicdark_padding_botttom_0 nicdark_padding_50 nicdark_box_sizing_border_box nicdark_text_align_center">


                                                                            <h6
                                                                                class="nicdark_color_white nicdark_text_transform_uppercase">
                                                                                Expense
                                                                                Wallet Balance</h6>
                                                                            <h1 class="nicdark_color_white nicdark_text_transform_uppercase"
                                                                                style="margin-left:-5%;margin-top:3%">
                                                                                <strong>
                                                                                    {{ expense_balance | currency : '₦' }}</strong>
                                                                            </h1>

                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>


                                                            <div class="nicdark_section nicdark_border_1_solid_grey">
                                                                <div
                                                                    class="nicdark_section nicdark_padding_20 nicdark_box_sizing_border_box">

                                                                    <div class="nicdark_section nicdark_height_20">
                                                                    </div>

                                                                    <div
                                                                        class="nicdark_width_100_percentage  nicdark_box_sizing_border_box nicdark_float_left">
                                                                        <button
                                                                            class="nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 "
                                                                            [routerLink]="['/topup']"
                                                                            routerLinkActive="router-link-active">TOP
                                                                            UP</button>
                                                                    </div>


                                                                </div>

                                                            </div>
                                                            <!--END price-->


                                                        </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">SERVICES</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>Accommodation: ₦90,000.00</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">SECURITY
                                                                DEPOSIT</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>₦5,000.00</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">SERVICE CHARGE
                                                            </h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>₦10,000.00</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">DURATION OF
                                                                STAY</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>12 Months</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">SUB TOTAL</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>₦105,000.00</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">CREDIT</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>₦105,000.00</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">BALANCE</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>₦0.00</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">TRANSACTION FEE
                                                            </h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>1.5% <strong>+ ₦0.00</strong></p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="2">
                                                            <h6 class="nicdark_text_transform_uppercase">TOTAL</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>₦0.00</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="4" align="center">
                                                            <h6 class="nicdark_text_transform_uppercase">PAYMENT METHOD
                                                                USED
                                                            </h6>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="4" align="center">
                                                            <p>e-Payment | Bank Payment</p>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20" colspan="4" align="center">
                                                            <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                                                href="#">PAID</a>
                                                        </td>
                                                        <td class="nicdark_padding_20"> </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>



                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Transactions">
                                    <ng-template ngbTabContent>
                                        <div
                                            class="nicdark_section nicdark_overflow_hidden nicdark_overflow_x_auto nicdark_cursor_move_responsive">
                                            <table class="nicdark_section">
                                                <thead>
                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">ID</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">RECEIVER</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">AMOUNT</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">DESCRIPTION
                                                            </h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">DATE</h6>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="transactions.length > 0">
                                                    <tr class="nicdark_border_bottom_1_solid_grey"
                                                        *ngFor="let transaction of transactions">
                                                        <td class="nicdark_padding_20">
                                                            <p>#{{ transaction.transactionId}}</p>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>{{ transaction.destinationAccountName }}</p>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p> {{ transaction.transactionAmount | currency : '₦' }}</p>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>{{ transaction.sourceNarration }}</p>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>{{ transaction.transactionDate | date }}</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="transactions.length == 0">
                                                    <td colspan="4" class="text-center">{{ tranResponse }}</td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="My Cards">
                                    <ng-template ngbTabContent>
                                        <div
                                            class="nicdark_section nicdark_overflow_hidden nicdark_overflow_x_auto nicdark_cursor_move_responsive">
                                            <table class="nicdark_section">
                                                <thead>
                                                    <tr class="nicdark_border_bottom_1_solid_grey">
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">Card Type</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">Card Number
                                                            </h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">Status</h6>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <h6 class="nicdark_text_transform_uppercase">Action
                                                            </h6>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="cards.length > 0">
                                                    <tr class="nicdark_border_bottom_1_solid_grey"
                                                        *ngFor="let card of cards">
                                                        <td class="nicdark_padding_20">
                                                            <p><img alt="" class="nicdark_section"
                                                                    src="assets/img/{{card.cardType | lowercase }}.png"></p>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p>{{ card.cardNumber }}</p>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p> Active</p>
                                                        </td>
                                                        <td class="nicdark_padding_20">
                                                            <p><img alt="" width="15"
                                                                    src="assets/img/icons/icon-remove-red.svg"></p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="cards.length == 0">
                                                    <td colspan="4" class="text-center">{{ cardResponse }}</td>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div
                                            class="nicdark_width_100_percentage nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_20 nicdark_box_sizing_border_box">

                                            <!--form-->
                                            <div class="nicdark_section nicdark_height_20"></div>
                                            <h2><strong>Add New Card</strong></h2>
                                            <div class="nicdark_section nicdark_height_10"></div>

                                            <div class="nicdark_section">
                                                <div
                                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <input
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        type="text" placeholder="Jane Johnson" readonly
                                                        [(ngModel)]="cardName">
                                                </div>
                                                <div
                                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <input
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        type="text" placeholder="Card Number" [(ngModel)]="cardNumber">
                                                </div>
                                            </div>
                                            <div class="nicdark_section">
                                                <div
                                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <input
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        type="text" placeholder="Expiry MM/YYYY"
                                                        [(ngModel)]="cardExpiry">
                                                </div>
                                                <div
                                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <input
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        type="text" placeholder="CVV" [(ngModel)]="cvv">
                                                </div>
                                            </div>
                                            <div class="nicdark_section">
                                                <div
                                                    class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <button
                                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 "
                                                        (click)="AddCard()" [disabled]="loading">
                                                        {{ loading ? 'Processing...' : 'ADD CARD' }} <i
                                                            class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                                    </button>
                                                </div>
                                                <div *ngIf="card_error">
                                                    <p class="text-center">{{ card_error_msg }}</p>
                                                </div>
                                            </div>
                                            <!--form-->
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Support Tickets">
                                    <ng-template ngbTabContent>
                                        <div
                                            class="nicdark_width_100_percentage nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_20 nicdark_box_sizing_border_box">

                                            <!--form-->
                                            <div class="nicdark_section">
                                                <div
                                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <input
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        type="text" placeholder="First Name">
                                                </div>
                                                <div
                                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <input
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        type="text" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="nicdark_section">
                                                <div
                                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <input
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        type="text" placeholder="Email">
                                                </div>
                                                <div
                                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <input
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        type="text" placeholder="Subject">
                                                </div>
                                            </div>
                                            <div class="nicdark_section">
                                                <div
                                                    class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <textarea rows="4"
                                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                                        placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="nicdark_section">
                                                <div
                                                    class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                                    <!-- <a class="nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 "
                                                href="#">SUBMIT NEW TICKET</a> -->
                                                    <button
                                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 "
                                                        (click)="AddTicket()" [disabled]="loading">
                                                        {{ loading ? 'Processing...' : 'SUBMIT NEW TICKET' }} <i
                                                            class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!--form-->

                                            <div
                                                class="nicdark_section nicdark_overflow_hidden nicdark_overflow_x_auto nicdark_cursor_move_responsive">
                                                <table class="nicdark_section">
                                                    <tbody>
                                                        <tr class="nicdark_border_bottom_1_solid_grey">
                                                            <td class="nicdark_padding_20">
                                                                <h6 class="nicdark_text_transform_uppercase">See open
                                                                    tickets
                                                                    below</h6>
                                                            </td>
                                                        </tr>
                                                        <tr class="nicdark_border_bottom_1_solid_grey">
                                                            <td class="nicdark_padding_20">
                                                                <h2><strong>My cards won't work</strong></h2>
                                                                <p>I'm currently experiencing issues with card
                                                                    processing on the
                                                                    site.
                                                                </p>
                                                                <h6 class="nicdark_text_transform_uppercase">05/01/2020
                                                                </h6>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>

                    </div>

                </div>
                <!--END tab-->


                <!--START Dialog-->
                <!--<div class="nicdark_dialog" title="Basic dialog">
                              <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
                            </div>-->

                <!--<button class="nicdark_dialog_open">Open Dialog</button>-->
                <!--END Dialog-->


            </div>

        </div>


    </div>
    <!--end container-->