<div class="nicdark_section nicdark_height_40"></div>
<div class="nicdark_section nicdark_bg_greydark">

    <div class="nicdark_section nicdark_height_50"></div>

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">
        <div class="grid grid_12 nicdark_text_align_center">
            <div class="nicdark_section">
                <a [routerLink]="['/']"><img alt="" width="250" src="assets/img/windsworth-logo.png"></a>
            </div>
            <div class="nicdark_section nicdark_height_20"></div>
            <div class="nicdark_display_inline_block">
                <a href="#"><img alt="" width="40" class="nicdark_margin_right_10"
                        src="assets/img/icons/icon-facebook-circle.svg"></a>
                <a href="#"><img alt="" width="40" class="nicdark_margin_right_10"
                        src="assets/img/icons/icon-twitter-circle.svg"></a>
                <a href="#"><img alt="" width="40" class="nicdark_margin_right_10"
                        src="assets/img/icons/icon-youtube-circle.svg"></a>
            </div>
        </div>
    </div>
    <!--end container-->

    <div class="nicdark_section nicdark_height_50"></div>
</div>

<div class="nicdark_section nicdark_bg_greydark">
    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix nicdark_border_top_1_solid_greydark">
        <div class="grid grid_6 nicdark_text_align_center_responsive">
            <p class="nicdark_color_grey nicdark_font_size_14">© Copyright {{ current | date : 'y'}} Windsworth Hostels</p>
        </div>
    </div>
    <!--end container-->
</div>