<!--START nicdark_site-->
<div class="nicdark_site">

    <!--START nicdark_site_fullwidth-->
    <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">

        <div class="nicdark_section nicdark_position_relative ">

            <div class="nicdark_section nicdark_position_absolute">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix nicdark_position_relative">

                    <div class="grid grid_12 nicdark_display_none_all_responsive">

                        <div class="nicdark_section nicdark_height_10"></div>

                        <!--LOGO-->
                        <a [routerLink]="['/']"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>


                        <div
                            class="nicdark_navigation_2 nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive">
                            <ul>
                                <li>
                                    <a [routerLink]="['/']">HOME</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/account']">MY ACCOUNT</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/pricing']">PRICING MODEL</a>
                                </li>

                            </ul>

                        </div>

                        <div class="nicdark_section nicdark_height_10"></div>

                    </div>

                    <!--RESPONSIVE-->
                    <div
                        class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <!--LOGO-->
                        <a href="index.html"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>

                        <div class="nicdark_section nicdark_height_10"></div>
                    </div>
                    <div
                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <div
                            class="nicdark_float_right nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">


                            <ul style="list-style: none; display: inline; color: #fff;">
                                <li>
                                    <a [routerLink]="['/']" style="color: #fff;">HOME</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/account']" style="color: #fff;">MY ACCOUNT</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/pricing']" style="color: #fff;">PRICING MODEL</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--RESPONSIVE-->


                </div>
                <!--end container-->

            </div>

        </div>






        <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom"
            style="background-image:url(assets/img/parallax/img6.png);">

            <div class="nicdark_section nicdark_bg_greydark_alpha_gradient_2">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix">


                    <div class="nicdark_section nicdark_height_200"></div>


                    <div class="grid grid_12">



                        <strong class="nicdark_color_white nicdark_font_size_40 nicdark_first_font">Pricing
                            Models</strong>


                        <div class="nicdark_section nicdark_height_20"></div>


                    </div>









                </div>
                <!--end container-->

            </div>

        </div>





        <div class="nicdark_section nicdark_bg_grey nicdark_border_bottom_1_solid_grey">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_12">



                    <a [routerLink]="['/']">Home</a>
                    <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                        src="assets/img/icons/icon-next-grey.svg">
                    <a [routerLink]="['/account']">Account</a>
                    <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                        src="assets/img/icons/icon-next-grey.svg">
                    <a [routerLink]="['/pricing']">Pricing Models</a>



                </div>


            </div>
            <!--end container-->

        </div>




        <div class="nicdark_section nicdark_height_50"></div>



        <div class="nicdark_section">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_12">

                    <div class="nicdark_section">


                        <!--START tab-->
                        <div class="nicdark_tabs">


                            <div class="nicdark_section" id="tabs-1">


                                <div
                                    class="nicdark_section nicdark_overflow_hidden nicdark_overflow_x_auto nicdark_cursor_move_responsive">
                                    <table class="nicdark_section">
                                        <tbody>
                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20">
                                                    <h6
                                                        class="nicdark_second_font nicdark_bg_green nicdark_padding_5 nicdark_border_radius_3 nicdark_color_white nicdark_display_inline_block">
                                                        CATEGORY</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <h6
                                                        class="nicdark_second_font nicdark_bg_green nicdark_padding_5 nicdark_border_radius_3 nicdark_color_white nicdark_display_inline_block">
                                                        DESCRIPTION</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <h6
                                                        class="nicdark_second_font nicdark_bg_green nicdark_padding_5 nicdark_border_radius_3 nicdark_color_white nicdark_display_inline_block">
                                                        DURATION</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <h6
                                                        class="nicdark_second_font nicdark_bg_green nicdark_padding_5 nicdark_border_radius_3 nicdark_color_white nicdark_display_inline_block">
                                                        ROOM FEE</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <h6
                                                        class="nicdark_second_font nicdark_bg_green nicdark_padding_5 nicdark_border_radius_3 nicdark_color_white nicdark_display_inline_block">
                                                        MGT. FEE</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <h6
                                                        class="nicdark_second_font nicdark_bg_green nicdark_padding_5 nicdark_border_radius_3 nicdark_color_white nicdark_display_inline_block">
                                                        SECURITY DEPOSIT</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <h6
                                                        class="nicdark_second_font nicdark_bg_green nicdark_padding_5 nicdark_border_radius_3 nicdark_color_white nicdark_display_inline_block">
                                                        TOTAL FEE</h6>
                                                </td>
                                            </tr>

                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20">
                                                    <h6 class="nicdark_text_transform_uppercase">PLATINUM</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Per Room</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Year</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦400,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦40,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦20,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold"><strong>₦460,000.00</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20"> </td>
                                                <td class="nicdark_padding_20"> </td>
                                                <td class="nicdark_padding_20">
                                                    <p>6 Months</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦210,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦40,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦20,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold">₦270,000.00</p>
                                                </td>
                                            </tr>

                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20">
                                                    <h6 class="nicdark_text_transform_uppercase">GOLD</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>2 Per Room</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Year</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦220,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦20,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦10,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold">₦250,000.00</p>
                                                </td>
                                            </tr>
                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20"> </td>
                                                <td class="nicdark_padding_20"> </td>
                                                <td class="nicdark_padding_20">
                                                    <p>6 Months</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦120,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦20,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦10,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold">₦150,000.00</p>
                                                </td>
                                            </tr>

                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20">
                                                    <h6 class="nicdark_text_transform_uppercase">SILVER</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>4 Per Room</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Year</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦90,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦10,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦5,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold">₦105,000.00</p>
                                                </td>
                                            </tr>
                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20"> </td>
                                                <td class="nicdark_padding_20"> </td>
                                                <td class="nicdark_padding_20">
                                                    <p>6 Months</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦45,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦10,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦5,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold">₦60,000.00</p>
                                                </td>
                                            </tr>

                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20">
                                                    <h6 class="nicdark_text_transform_uppercase">BRONZE</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Per Room</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Month</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦45,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦5,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦0.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold">₦50,000.00</p>
                                                </td>
                                            </tr>
                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20"> </td>
                                                <td class="nicdark_padding_20">
                                                    <p>4 Per Room</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Month</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦10,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦2,500.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦0.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold">₦12,500.00</p>
                                                </td>
                                            </tr>

                                            <tr class="nicdark_border_bottom_1_solid_grey">
                                                <td class="nicdark_padding_20">
                                                    <h6 class="nicdark_text_transform_uppercase">COPPER</h6>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Per Room</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>1 Day</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦2,500.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦1,000.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p>₦0.00</p>
                                                </td>
                                                <td class="nicdark_padding_20">
                                                    <p style="color:#333;font-weight:bold">₦3,500.00</p>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>



                            </div>


                        </div>

                    </div>


                </div>

            </div>
            <!--END tab-->


            <!--START Dialog-->
            <!--<div class="nicdark_dialog" title="Basic dialog">
                              <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
                            </div>-->

            <!--<button class="nicdark_dialog_open">Open Dialog</button>-->
            <!--END Dialog-->


        </div>

    </div>


</div>
<!--end container-->