<!--START nicdark_site-->
<div class="nicdark_site">

    <!--START nicdark_site_fullwidth-->
    <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">

        <div class="nicdark_section nicdark_position_relative ">

            <div class="nicdark_section nicdark_position_absolute">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix nicdark_position_relative">

                    <div class="grid grid_12 nicdark_display_none_all_responsive">

                        <div class="nicdark_section nicdark_height_10"></div>

                        <!--LOGO-->
                        <a [routerLink]="['/']"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>


                        <div
                            class="nicdark_navigation_2 nicdark_text_align_right nicdark_float_right nicdark_display_none_all_responsive">
                            <ul>
                                <li>
                                    <a [routerLink]="['/']">HOME</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/account']">MY ACCOUNT</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/pricing']">PRICING MODEL</a>
                                </li>

                            </ul>

                        </div>

                        <div class="nicdark_section nicdark_height_10"></div>

                    </div>

                    <!--RESPONSIVE-->
                    <div
                        class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <!--LOGO-->
                        <a href="index.html"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>

                        <div class="nicdark_section nicdark_height_10"></div>
                    </div>
                    <div
                        class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                        <div class="nicdark_section nicdark_height_20"></div>
                        <div
                            class="nicdark_float_right nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">


                            <ul style="list-style: none; display: inline; color: #fff;">
                                <li>
                                    <a [routerLink]="['/']" style="color: #fff;">HOME</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/account']" style="color: #fff;">MY ACCOUNT</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/pricing']" style="color: #fff;">PRICING MODEL</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--RESPONSIVE-->


                </div>
                <!--end container-->

            </div>

        </div>






        <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom"
            style="background-image:url(assets/img/parallax/img6.png);">

            <div class="nicdark_section nicdark_bg_greydark_alpha_gradient_2">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix">


                    <div class="nicdark_section nicdark_height_200"></div>


                    <div class="grid grid_12">



                        <strong class="nicdark_color_white nicdark_font_size_40 nicdark_first_font">Rooms</strong>


                        <div class="nicdark_section nicdark_height_20"></div>


                    </div>









                </div>
                <!--end container-->

            </div>

        </div>





        <div class="nicdark_section nicdark_bg_grey nicdark_border_bottom_1_solid_grey">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_12">



                    <a [routerLink]="['/']">Home</a>
                    <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                        src="assets/img/icons/icon-next-grey.svg">
                    <a [routerLink]="['/account']">Account</a>
                    <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                        src="assets/img/icons/icon-next-grey.svg">
                    <a [routerLink]="['/rooms']">Rooms</a>



                </div>


            </div>
            <!--end container-->

        </div>




        <div class="nicdark_section nicdark_height_50"></div>



        <div class="nicdark_section">

            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_12 ">

                    <!--START table-->
                    <table class="nicdark_display_none_all_responsive">
                        <tr>
                            <td class="nicdark_padding_10 nicdark_width_25_percentage">

                                <!--start image-->
                                <div class="nicdark_section nicdark_position_relative">

                                    <img alt="" class="nicdark_section" [src]="rooms[0].image">

                                    <div
                                        class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">

                                    </div>

                                </div>
                                <!--END image-->

                                <div class="nicdark_section nicdark_height_20"></div>

                                <table class="nicdark_section">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h3>{{ rooms[0].room_type }}</h3>
                                            </td>
                                            <td class="nicdark_text_align_right">
                                                <span class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                                    >{{ rooms[0].price | currency : '₦' }}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </td>
                            <td class="nicdark_padding_10 nicdark_width_25_percentage">

                                <!--start image-->
                                <div class="nicdark_section nicdark_position_relative">

                                    <img alt="" class="nicdark_section" [src]="rooms[1].image">

                                    <div
                                        class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">

                                    </div>

                                </div>
                                <!--END image-->

                                <div class="nicdark_section nicdark_height_20"></div>

                                <table class="nicdark_section">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h3>{{ rooms[1].room_type }}</h3>
                                            </td>
                                            <td class="nicdark_text_align_right">
                                                <span class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                                    >{{ rooms[1].price | currency : '₦' }}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </td>
                            <td class="nicdark_padding_10 nicdark_width_25_percentage">

                                <!--start image-->
                                <div class="nicdark_section nicdark_position_relative">

                                    <img alt="" class="nicdark_section" [src]="rooms[2].image">

                                    <div
                                        class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">

                                    </div>

                                </div>
                                <!--END image-->

                                <div class="nicdark_section nicdark_height_20"></div>

                                <table class="nicdark_section">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h3>{{ rooms[2].room_type }}</h3>
                                            </td>
                                            <td class="nicdark_text_align_right">
                                                <span class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                                    >{{ rooms[2].price | currency : '₦' }}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </td>
                            <td class="nicdark_padding_10 nicdark_width_25_percentage">

                                <!--start image-->
                                <div class="nicdark_section nicdark_position_relative">

                                    <img alt="" class="nicdark_section" [src]="rooms[3].image">

                                    <div
                                        class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">

                                    </div>

                                </div>
                                <!--END image-->

                                <div class="nicdark_section nicdark_height_20"></div>

                                <table class="nicdark_section">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h3>{{ rooms[3].room_type }}</h3>
                                            </td>
                                            <td class="nicdark_text_align_right">
                                                <span class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                                    >{{ rooms[3].price | currency : '₦' }}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </table>
                    <!--END table-->



                    <div
                        class="nicdark_width_25_percentage nicdark_display_none_all_responsive nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_10 nicdark_box_sizing_border_box">

                        <!--START table-->
                        <table class="nicdark_section">
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SECURITY DEPOSIT</h6>
                                    <p>₦5,000</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SERVICE CHARGE</h6>
                                    <p>₦10,000</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">DURATION OF STAY</h6>
                                    <p>1 Day</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SECURITY DEPOSIT</h6>
                                    <p>₦5,000</p>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="nicdark_padding_13_10">
                                    <div class="nicdark_section nicdark_height_20"></div>
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        (click)="Book(rooms[0])">
                                        BOOK 
                                    </button>
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        (click)="Reserve(rooms[0])">
                                        RESERVE 
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <!--END table-->

                    </div>





                    <div
                        class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_10 nicdark_box_sizing_border_box">


                        <!--Responsive-->
                        <div class="nicdark_section nicdark_display_none nicdark_display_block_responsive">

                            <!--image-->
                            <div class="nicdark_section nicdark_position_relative">

                                <img alt="" class="nicdark_section" [src]="rooms[0].image">

                                <div
                                    class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                    <div class="nicdark_position_absolute nicdark_right_20 nicdark_bottom_20">
                                        <img alt="" width="20" src="assets/img/icons/icon-trash.svg">
                                    </div>

                                </div>

                            </div>
                            <!--END image-->
                            <div class="nicdark_section nicdark_height_20"></div>
                            <!--title-->
                            <table class="nicdark_section">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>{{ rooms[0].room_type }}</h3>
                                        </td>
                                        <td class="nicdark_text_align_right">
                                            <span class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                                >{{ rooms[0].price | currency : '₦' }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--END title-->


                        </div>
                        <!--Responsive-->


                        <!--START table-->
                        <table class="nicdark_section">
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SECURITY DEPOSIT</h6>
                                    <p>₦5,000</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SERVICE CHARGE</h6>
                                    <p>₦10,000</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">DURATION OF STAY</h6>
                                    <p>12 Months</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SECURITY DEPOSIT</h6>
                                    <p>₦5,000</p>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="nicdark_padding_13_10">
                                    <div class="nicdark_section nicdark_height_20"></div>
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        (click)="Book(rooms[1])">
                                        BOOK 
                                    </button>
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        (click)="Reserve(rooms[1])">
                                        RESERVE 
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <!--END table-->

                    </div>




                    <div
                        class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_10 nicdark_box_sizing_border_box">


                        <!--Responsive-->
                        <div class="nicdark_section nicdark_display_none nicdark_display_block_responsive">

                            <div class="nicdark_section nicdark_height_20"></div>

                            <!--image-->
                            <div class="nicdark_section nicdark_position_relative">

                                <img alt="" class="nicdark_section" [src]="rooms[1].image">

                                <div
                                    class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                    <div class="nicdark_position_absolute nicdark_right_20 nicdark_bottom_20">
                                        <img alt="" width="20" src="assets/img/icons/icon-trash.svg">
                                    </div>

                                </div>

                            </div>
                            <!--END image-->
                            <div class="nicdark_section nicdark_height_20"></div>
                            <!--title-->
                            <table class="nicdark_section">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>{{ rooms[1].room_type }}</h3>
                                        </td>
                                        <td class="nicdark_text_align_right">
                                            <a class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                                >{{ rooms[1].price | currency : '₦' }}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--END title-->


                        </div>


                        <!--START table-->
                        <table class="nicdark_section">
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SECURITY DEPOSIT</h6>
                                    <p>₦5,000</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SERVICE CHARGE</h6>
                                    <p>₦10,000</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">DURATION OF STAY</h6>
                                    <p>12 Months</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SECURITY DEPOSIT</h6>
                                    <p>₦5,000</p>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="nicdark_padding_13_10">
                                    <div class="nicdark_section nicdark_height_20"></div>
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        (click)="Book(rooms[2])">
                                        BOOK 
                                    </button>
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        (click)="Reserve(rooms[2])">
                                        RESERVE 
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <!--END table-->

                    </div>



                    <div
                        class="nicdark_width_25_percentage nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_10 nicdark_box_sizing_border_box">


                        <!--Responsive-->
                        <div class="nicdark_section nicdark_display_none nicdark_display_block_responsive">

                            <div class="nicdark_section nicdark_height_20"></div>

                            <!--image-->
                            <div class="nicdark_section nicdark_position_relative">

                                <img alt="" class="nicdark_section" [src]="rooms[2].image">

                                <div
                                    class="nicdark_bg_greydark_alpha_gradient nicdark_position_absolute nicdark_left_0 nicdark_height_100_percentage nicdark_width_100_percentage nicdark_padding_20 nicdark_box_sizing_border_box">
                                    <div class="nicdark_position_absolute nicdark_right_20 nicdark_bottom_20">
                                        <img alt="" width="20" src="assets/img/icons/icon-trash.svg">
                                    </div>

                                </div>

                            </div>
                            <!--END image-->
                            <div class="nicdark_section nicdark_height_20"></div>
                            <!--title-->
                            <table class="nicdark_section">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>{{ rooms[3].room_type }}</h3>
                                        </td>
                                        <td class="nicdark_text_align_right">
                                            <span class="nicdark_display_inline_block nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                                >{{ rooms[3].price | currency : '₦' }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--END title-->


                        </div>


                        <!--START table-->
                        <table class="nicdark_section">
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SECURITY DEPOSIT</h6>
                                    <p>₦5,000</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SERVICE CHARGE</h6>
                                    <p>₦10,000</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">DURATION OF STAY</h6>
                                    <p>12 Months</p>
                                </td>
                            </tr>
                            <tr class="nicdark_border_bottom_2_solid_grey">
                                <td class="nicdark_padding_10">
                                    <h6 class="nicdark_text_transform_uppercase">SECURITY DEPOSIT</h6>
                                    <p>₦5,000</p>
                                </td>
                            </tr>
                            <tr class="">
                                <td class="nicdark_padding_13_10">
                                    <div class="nicdark_section nicdark_height_20"></div>
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        (click)="Book(rooms[3])">
                                        BOOK 
                                    </button>
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_8 nicdark_border_radius_3 nicdark_font_size_13"
                                        (click)="Reserve(rooms[3])">
                                        RESERVE 
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <!--END table-->

                    </div>

                    <div
                    class="text-center">
                        <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i> Processing...</span>
                        <span class="text-danger" *ngIf="has_error">{{ error_msg }}</span>
                    </div>
                </div>

            </div>
            <!--end container-->

        </div>

    </div>


</div>
<!--end container-->