<!--START nicdark_site-->
<div class="nicdark_site">

    <!--START nicdark_site_fullwidth-->
    <div class="nicdark_site_fullwidth nicdark_site_fullwidth_boxed nicdark_clearfix">

        <div class="nicdark_section nicdark_position_relative ">

            <div class="nicdark_section nicdark_position_absolute">




                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix nicdark_position_relative">

                    <div class="grid grid_12 nicdark_display_none_all_responsive">

                        <div class="nicdark_section nicdark_height_10"></div>

                        <!--LOGO-->
                        <a [routerLink]="['/home']"><img alt=""
                                class="nicdark_position_absolute nicdark_left_15 nicdark_top_20" width="250"
                                src="assets/img/windsworth-logo.png"></a>




                        <!--RESPONSIVE-->
                        <div
                            class="nicdark_width_50_percentage nicdark_text_align_center_all_iphone nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                            <div class="nicdark_section nicdark_height_20"></div>
                            <a [routerLink]="['/home']"><img alt="" width="170" class=""
                                    src="assets/img/logos/logo-foodlab-white.svg"></a>
                        </div>
                        <div
                            class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_float_left nicdark_display_none nicdark_display_block_responsive">
                            <div class="nicdark_section nicdark_height_20"></div>
                            <div
                                class="nicdark_float_right nicdark_width_100_percentage nicdark_text_align_right nicdark_text_align_center_all_iphone">


                                <a class="nicdark_open_navigation_2_sidebar_content" [routerLink]="['/home']">
                                    <img alt="" class="nicdark_margin_right_20" width="25"
                                        src="assets/img/icons/icon-menu-white.svg">
                                </a>

                                <div class="nicdark_position_relative nicdark_display_inline_block">
                                    <a [routerLink]="['/home']"><img alt="" width="25"
                                            src="assets/img/icons/icon-cart-white.svg"></a>
                                    <a class="nicdark_bg_orange nicdark_color_white nicdark_padding_5 nicdark_border_radius_100_percentage nicdark_font_size_8 nicdark_line_height_5 nicdark_position_absolute nicdark_left_0 nicdark_top_10_negative nicdark_margin_left_20"
                                    [routerLink]="['/home']">2</a>
                                </div>

                                <img alt="" class="nicdark_margin_left_20 nicdark_navigation_2_open_search_content"
                                    width="25" src="assets/img/icons/icon-search-white.svg">

                            </div>
                        </div>
                        <!--RESPONSIVE-->





                    </div>
                    <!--end container-->

                </div>

            </div>






            <div class="nicdark_section nicdark_background_size_cover nicdark_background_position_center_bottom"
                style="background-image:url(assets/img/parallax/img6.png);">

                <div class="nicdark_section nicdark_bg_greydark_alpha_gradient_2">




                    <!--start nicdark_container-->
                    <div class="nicdark_container nicdark_clearfix">


                        <div class="nicdark_section nicdark_height_200"></div>


                        <div class="grid grid_12">



                            <strong
                                class="nicdark_color_white nicdark_font_size_40 nicdark_first_font">Register</strong>


                            <div class="nicdark_section nicdark_height_20"></div>


                        </div>



                    </div>
                    <!--end container-->

                </div>

            </div>





            <div class="nicdark_section nicdark_bg_grey nicdark_border_bottom_1_solid_grey">

                <!--start nicdark_container-->
                <div class="nicdark_container nicdark_clearfix">

                    <div class="grid grid_12">



                        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                        <img alt="" class="nicdark_margin_left_10 nicdark_margin_right_10" width="10"
                            src="assets/img/icons/icon-next-grey.svg">
                        <a [routerLink]="['/home/register']">Register</a>
                    </div>


                </div>
                <!--end container-->

            </div>




            <!--start nicdark_container-->
            <div class="nicdark_container nicdark_clearfix">

                <div class="grid grid_1">
                    <div class="nicdark_section nicdark_height_1"></div>
                </div>

                <div class="grid grid_10">

                    <div
                        class="nicdark_section nicdark_bg_white nicdark_padding_40 nicdark_padding_0_all_iphone nicdark_box_sizing_border_box">

                        <div
                            class="nicdark_width_40_percentage nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_20 nicdark_box_sizing_border_box">

                            <h6
                                class="nicdark_second_font nicdark_bg_orange nicdark_padding_5 nicdark_border_radius_3 nicdark_color_white nicdark_display_inline_block">
                                DESIGNED FOR EASE</h6>
                            <div class="nicdark_section nicdark_height_20"></div>
                            <p>We have built a portal to make life easy for you. From payments, to lodging complains and
                                accessing services with ease.</p>
                            <div class="nicdark_section nicdark_height_30"></div>
                            <div class="nicdark_section nicdark_height_5"></div>

                        </div>


                        <div
                            class="nicdark_width_60_percentage nicdark_width_100_percentage_responsive nicdark_float_left nicdark_padding_20 nicdark_box_sizing_border_box">

                            <!--form-->
                            <div class="nicdark_section">
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="text" placeholder="First Name" name="firstName" [(ngModel)]="firstName">
                                </div>
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="text" placeholder="Last Name" name="lastName" [(ngModel)]="lastName">
                                </div>
                            </div>
                            <div class="nicdark_section">
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="email" placeholder="Email" name="email" [(ngModel)]="email">
                                </div>
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="text" placeholder="Phone" name="phone" [(ngModel)]="phone" inputmode="numeric" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="nicdark_section">
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="password" placeholder="Password" name="password" [(ngModel)]="password">
                                </div>
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="password" name="password2" placeholder="Re-type Password"
                                        [(ngModel)]="password2">
                                </div>
                            </div>
                            <div class="nicdark_section">
                                <div
                                    class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="text" name="address" placeholder="Address" [(ngModel)]="address">
                                </div>
                            </div>
                            <div class="nicdark_section">
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="text" name="dob" id="dob" placeholder="Date of Birth"
                                        [(ngModel)]="dob">
                                </div>
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="text" name="course" placeholder="Course of Study"
                                        [(ngModel)]="course">
                                </div>
                            </div>
                            <div class="nicdark_section">
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <input
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        type="text" name="matric_no" id="matric_no" placeholder="Matric Number"
                                        [(ngModel)]="matric_no">
                                </div>
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <select
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        name="level" [(ngModel)]="level">
                                        <option value="" selected disabled hidden>Select Level</option>
                                        <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="nicdark_section">
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <select
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        name="gender" [(ngModel)]="gender">
                                        <option value="" selected disabled hidden>Select gender</option>
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Female</option>
                                    </select>
                                </div>
                                <div
                                    class="nicdark_width_50_percentage nicdark_width_100_percentage_all_iphone nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <select
                                        class="nicdark_padding_left_0 nicdark_background_none nicdark_border_top_width_0 nicdark_border_bottom_width_2 nicdark_border_right_width_0 nicdark_border_left_width_0"
                                        name="location" [(ngModel)]="location">
                                        <option value="" selected disabled hidden>Select School</option>
                                        <option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="nicdark_section">
                                <div
                                    class="nicdark_width_100_percentage nicdark_padding_10 nicdark_box_sizing_border_box nicdark_float_left">
                                    <!-- <a class="nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 "
                                        href="account.html">SUBMIT</a> -->
                                    <button
                                        class="nicdark_bg_white_hover nicdark_color_green_hover nicdark_border_2_solid_green nicdark_transition_all_08_ease nicdark_display_inline_block nicdark_text_align_center nicdark_box_sizing_border_box nicdark_width_100_percentage nicdark_color_white nicdark_bg_green nicdark_first_font nicdark_padding_10_20 nicdark_border_radius_3 "
                                        (click)="Register()" [disabled]="loading">
                                        {{ loading ? 'Processing...' : 'REGISTER' }} <i class="fa fa-spinner fa-spin"
                                            *ngIf="loading"></i>
                                    </button>
                                    <span class="nicdark_second_font"> Existing User?
                                        <a class="link footer-link" [routerLink]="['/home/login']"
                                            routerLinkActive="router-link-active">
                                            Click here
                                        </a>
                                    </span>
                                </div>
                                <div *ngIf="has_error">
                                    <p class="text-center text-danger">{{ error_msg }}</p>
                                </div>
                            </div>
                            <!--form-->

                        </div>

                    </div>


                </div>

            </div>
            <!--end container-->



        </div>

    </div>

</div>